/* 
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
.owl-theme .owl-controls .owl-nav [class*='owl-'] {
	color: white;
	font-size: 14px;
	background: #d6d6d6;
	display: block;
	cursor: pointer;
	top: -290px;
	position: absolute;
	display: block;
	width: 49px;
	height: 45px;
	overflow: hidden;
	text-indent: -9999px;
}
.owl-theme .owl-controls .owl-nav [class*='owl-'].owl-prev{
	left: -63px;
	background: url(../images/slider_top_arr_left.png) 0 0 no-repeat;
}
.owl-theme .owl-controls .owl-nav [class*='owl-'].owl-next{
	right: -63px;
	background: url(../images/slider_top_arr_right.png) 0 0 no-repeat;
}
.ps_slider .owl-theme .owl-controls .owl-nav [class*='owl-']{
	top: -120px;	
	width: 29px;
	height: 29px;
	transition: 0.2s;
}
.bp_slider .owl-theme .owl-controls .owl-nav [class*='owl-']{
	top: -210px;	
	width: 29px;
	height: 29px;
	transition: 0.2s;
}
.ps_slider .owl-theme .owl-controls .owl-nav [class*='owl-'].owl-prev{
	left: -43px;
	background: url(../images/ps_l.png) 0 0 no-repeat;
	opacity: 0.6;
}
.ps_slider .owl-theme .owl-controls .owl-nav [class*='owl-'].owl-next{
	right: -43px;
	background: url(../images/ps_r.png) 0 0 no-repeat;
	opacity: 0.6;
}
.bp_slider .owl-theme .owl-controls .owl-nav [class*='owl-'].owl-prev{
	left: -43px;
	background: url(../images/bp_l.png) 0 0 no-repeat;
	opacity: 0.6;
}
.bp_slider .owl-theme .owl-controls .owl-nav [class*='owl-'].owl-next{
	right: -43px;
	background: url(../images/bp_r.png) 0 0 no-repeat;
	opacity: 0.6;
}
.ps_slider .owl-theme .owl-controls .owl-nav [class*='owl-'].owl-prev:hover,
.bp_slider .owl-theme .owl-controls .owl-nav [class*='owl-'].owl-prev:hover{
	opacity: 1;
}
.ps_slider .owl-theme .owl-controls .owl-nav [class*='owl-'].owl-next:hover,
.bp_slider .owl-theme .owl-controls .owl-nav [class*='owl-'].owl-next:hover{
	opacity: 1;
}
.ps_slider .owl-carousel .owl-item img,
.bp_slider .owl-carousel .owl-item img{
	width: 100%;
	display: inline-block;
}
.owl-theme .owl-controls .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
  position: relative;
}
body{
	counter-reset: chapter; 
}
.bps .owl-dots .owl-dot{
	margin: 0 10px 5px;
}
.bps .owl-dots .owl-dot::before{
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 20px;
	border: 2px solid #b3cacc;
	color: #57976b;
	font-size: 13px;
	line-height: 19px;
	counter-increment: chapter;
	content: counter(chapter);
}
.bps .owl-dots .owl-dot.active::before{
	border: 2px solid #3c3b3d;
	color: #3c3b3d;
	background: #dfdfdf;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #92be3f;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  transition: 0.3s;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #e6e6e1;
}


.bps .owl-controls {
    margin-top: 17px;
}

@media (max-width: 790px) {
	.ps_slider .owl-theme .owl-controls .owl-nav [class*='owl-'].owl-prev{
		left:  -29px;
	}
	.ps_slider .owl-theme .owl-controls .owl-nav [class*='owl-'].owl-next{
		right: -29px;
	}
	.bp_slider .owl-theme .owl-controls .owl-nav [class*='owl-'].owl-prev{
		left:  -33px;
	}
	.bp_slider .owl-theme .owl-controls .owl-nav [class*='owl-'].owl-next{
		right: -33px;
	}
}
@media (max-width: 480px) {
	.owl-theme .owl-dots .owl-dot span {
		margin: 5px 2px 7px;
	}
}
.slider_1 .owl-controls{
	position: initial;
}
.slider_1{
	position: relative;
}
.slider_1 .item{
	margin: 0 40px 0 0px;
}
.slider_1 .owl-dots{
    top: 8px;
    position: absolute;
    right: 40px;
}
.person_slider .owl-dots .owl-dot.active span {
	background: #e6e6e1;
	width: 15px;
	height: 15px;
	margin-top: 2px;
	margin-bottom: 4px;
}
.slider_1 .owl-dots .owl-dot.active span{
	background: #e6e6e1;
	width: 15px;
	height: 15px;
	margin-top: 2px;
}
.slider_1 .owl-dots .owl-dot {
    display: block;
    zoom: 1;
    position: relative;
    float: left;
}
.slider_1 .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 2px;
}
.slider_1 .owl-controls .owl-nav [class*='owl-'] {
    top: 110px;
}