@media (max-width: 1540px) {
	.main {
		width: 1160px;
	}
	.top_nav ul li {
		margin: 0 32px 0 0;
	}
	.btn_sell {
		margin: 40px 0 0 37px;
	}
	.btn_sell a {
		padding: 25px 23px;
		font-size: 30px;
	}
	.btn_sell a:active {
		padding: 26px 23px 24px;
	}
	.pbr {
		width: 376px;
	}
	.pbl_title {
		font-size: 23px;
		margin: 12px 15px 0 0;
	}
	.new_v {
		margin: 0 0 0 30px;
		width: 167px;
	}
	.new_v.new_v_r{
		margin: 0 0 0 30px;
	}
	.rew_last{
		margin: 0;
	}
	.bp_slider_block {
		width: 896px;
	}
	.onas_title {
		font-size: 18px;
	}
	.upb {
	    width: 242px;
		height: 358px;
		margin: 0 auto;
		background: url(../images/up_block.png) center center no-repeat;
		margin: 52px 0 0 0;
	}
	.card_price {
		margin: 37px 0 0 18px;
	}
	.open24_in {
		margin: 20px 0 0 13px;
	}
	.s1_btn {
		font-size: 13px;
	}
}
@media (max-width: 1320px) {
	.main {
		width: 960px;
	}
	.acc_block {
		float: right;
		margin: 0;
	}
	.basket_block {
		float: right;
		padding: 10px 15px 0 0;
		clear: right;
	}
	.acc_block ul li {
		margin: 0 0 0 14px;
	}
	.pabl{
		display: none;
	}
	nav ul {
		width: 89%;
	}
	.btn_start_pay {
		width: 265px;
		margin: 0 auto;
	}
	.btn_start_pay a{
		padding: 17px 0 17px;
		font-size: 21px;
	}
	.btn_start_pay a:hover{
		padding: 18px 0 16px;
	}
	.s1_left {
		width: 62%;
		margin-right: 2%;
	}
	.s1_right {
		width: 36%;
	}
	.pbl {
		width: 315px;
		margin-top: -10px;
	}
	.pbr {
		width: 306px;
	}
	.pbr br{
		display: none;
	}
	.pbr_cnt {
		padding: 15px;
	}
	.btn_pbl a {
		padding: 11px 0;
		margin-top: 9px;
	}
	.pbl_title {
		margin: 0px 15px 0 0;
	}
	.new_v,
	.new_v.new_v_r{
		margin: 0 0 0 62px;
		width: 203px;
		float: left;
	}
	.video_middle {
		clear: both;
		padding: 15px 0 0;
	}
	.bp_slider_block {
		width: 658px;
	}
	.bp_subscribe {
		margin: 20px 0 0 0;
	}
	.upb {
		margin: 37px 0 0 0;
	}
	.isoc img{
		width: 90%;
	}
	.ipay img{
		width: 90%;
	}
	.header_cnt {
		padding: 0;
	}
	.pl {
		margin: -10px 0 0;
	}
	.pl_more {
		margin: 1px 0 0 12px;
	}
	.btn_sell {
		margin: 40px 0 0 28px;
	}
}

@media (max-width: 1120px) {
	.slider_top {
		margin: 25px 64px 0;
	}
	.s1_price {
		font-size: 24px;
	}
	.s1_btn {
		font-size: 11px;
		padding: 10px 13px;
	}
}
@media (max-width: 991px) {
	.main {
		width: 740px;
	}
	.acc_block {
		margin: 10px 0 0;
		float: left;
	}
	.acc_block ul li {
		margin: 0 14px 0 0;
	}
	.basket_block {
		float: left;
		padding: 10px 14px 0 0;
	}
	.header_cnt {
		padding: 20px 0 0;
	}
	.pabl {
		display: block;
	}
	.btn_sell {
		margin: 20px 0 0 140px;
		clear: left;
	}
	.open24 {
		float: right;
		margin: 8px 150px 0 0;
	}
	nav ul {
		width: 85%;
	}
	nav ul li {
		margin: 0 10px 15px;
	}
	.m_search {
		float: right;
		width: 32%;
	}
	.m_data {
		width: 46%;
	}
	.m_filter {
		width: 18%;
	}
	.pbl {
		width: 200px;
		margin-top: -10px;
	}
	.pbl_title {
		line-height: 100%;
	}
	.pbr {
		width: 205px;
	}
	.pbr_cnt {
		font-size: 14px;
	}
	.new_v, .new_v.new_v_r {
		margin: 0 0 0 29px;
		width: 163px;
	}
	.bp_slider_block {
		width: 438px;
	}
	.bps_more a {
		line-height: 100%;
	}
	.upb {
		margin: 67px 0 0 0;
	}
	.onas_title br{
		display: none;
	}
}
@media (max-width: 790px) {
	.main {
		width: auto;
		margin: 0 15px;
	}
	.top_nav ul li {
		margin: 0 17px 5px 0;
	}
	.top_nav {
		float: none;
	}
	.acc_block {
		margin: 0 0 0 17px;
	}
	.basket_block {
		padding: 6px 0 0 0;
	}
	.pl {
		float: none;
		margin: 0 -15px;
		background: #92be3f;
		width: auto;
	}
	.pl_top{
		background: url(../images/pl_top.png) 0 0 repeat-x;
	}
	.pl_bottom{
		background: url(../images/pl_bottom.png) 0 0 repeat-x;
	}
	.pl_more {
		margin: 6px 0 4px;
		float: right;
	}
	.card_price {
		margin: 17px 0 0 0;
		clear: left;
	}
	.btn_sell {
		margin: 13px 0 0 20px;
		clear: none;
	}
	.open24 {
		float: left;
		margin: 0px 0 0 20px;
	}
	nav ul {
		height: 80px;
		width: 80%;
	}
	.m_search input[type="text"] {
		padding: 10px 4% 9px;
		width: 92%;
		font: 13px ComicRelief_Regular, Tahoma;
		border-radius: 8px;
	}
	.m_search {
		width: 21%;
	}
	.m_data {
		width: 54%;
	}
	.m_filter {
		width: 21%;
	}
	
	.popular_block {
		padding: 145px 0 0;
	}
	.pbl {
		width: 48%;
	}
	.pbr {
		width: 48%;
	}
	.new_v, .new_v.new_v_r {
		margin: 0 0 0 4%;
		width: 21%;
	}
	.bp_slider_block {
		width: auto;
		float: none;
	}
	.bp_slider_block {
		margin: 0 27px;
	}
	.up_block {
		float: none;
		width: 242px;
		margin: 0 auto;
	}
	.upb {
		margin: 37px 0 0 0;
	}
}

@media (max-width: 720px) {
	.open24 {
		float: none;
		margin: 0px auto;
		clear: both;
		width: 206px;
		padding: 17px 0 0;
	}
	.cb_left {
		width: 50%;
	}
	.cb_middle {
		width: 50%;
	}
	.cb_right {
		width: auto;
		margin-left: 0;
		float: none;
		clear: both;
		padding: 20px 0 0;
	}
	.rew_last{
		display: none;
	}
	.new_v, .new_v.new_v_r {
		margin: 0 1.5%;
		width: 30.33%;
	}
	.video_middle {
		padding: 20px 0 0;
	}
}
@media (max-width: 660px) {
	.m_search {
		display: none;
	}
	.m_filter {
		width: 25%;
	}
	.m_data {
		width: 73%;
		padding: 0 0 0 2%;
	}
	.banner{
		display: none;
	}
}
@media (min-width: 561px) {
	.top_nav ul{
		display: block !important;
	}
}
@media (max-width: 560px) {
	.row_top {
		text-align: center;
	}
	.your_country {
		float: none;
		background: 0;
	}
	.acc_block {
		margin: 7px 0 0;
		float: none;
	}
	.acc_block ul li {
		float: none;
		display: inline-block;
	}
	.basket_block {
		padding: 10px 0 0 0;
		float: none;
		display: inline-block;
	}
	.nav_btn{
		display: block;
		background: #92be3f url(../images/btn_nav.png) 15px center no-repeat;
		height: 36px;
		margin: 0 -15px;
		text-decoration: none;
	}
	.top_nav {
		float: none;
		position: fixed;
		z-index: 3;
		left: 0;
		top: 0;
		right: 0;
		padding: 0 15px;
	}
	.top_nav ul{
		display: none;
		background: #fff;
		padding: 0;
		margin: 0 -15px;
	}
	.top_nav ul li {
		float: none;
		text-align: left;
		margin: 0;
	}
	.row_top {
		padding: 0;
	}	
	.your_country {
		padding: 48px 0 0;
	}
	.top_nav ul li a {
		text-transform: uppercase;
		font-size: 12px;
		display: block;
		padding: 8px 15px 7px;
		border-bottom: 1px solid #E4E4E4;
	}
	nav ul {
		width: 75%;
	}
	.m_filter {
		width: 35%;
	}
	.m_data {
		width: 63%;
	}
	.cb_left {
		width: auto;
		float: none;
	}
	.cb_left li {
		width: 43%;
		margin: 0 3.5% 30px 3.5%;
	}
	.cb_middle {
		width: auto;
		float: none;
		padding: 20px 0 0;
		clear: both;
	}
	.c_title{
		line-height: 120%
	}
}

@media (max-width: 520px) {
	.open24 {
		float: none;
		margin: 0px auto;
		clear: both;
		width: 206px;
		padding: 17px 0 0;
	}
	.logo img{
		width: 80px;
	}
	.sus {
		margin: 37px 0 0;
	}
	.btn_sell a {
		padding: 10px 17px;
		font-size: 15px;
		box-shadow: 0 6px 17px #ccc;
	}
	.btn_sell a:active {
		padding: 11px 17px 9px;
	}
	.btn_sell {
		margin: 34px 0 0 20px;
	}
	.c_title span {
		padding: 0;
	}
	.bp_title {
		line-height: 120%;
	}
	.onas_li {
		width: auto;
		float: none;
		padding: 0 0 30px;
	}
	.onas_li:last-child {
		padding: 0 0 0;
	}
	.onas_icon {
		padding: 10px 0 0;
	}	
}
@media (max-width: 480px) {
	.new_v, .new_v.new_v_r {
		margin: 0 auto 20px;
		width: 202px;
		float: none;
	}
	.video_middle{
		width: auto;
		margin: 0 auto;
	}
	.bp_slider_block {
		margin: 0;
	}
	.footer_nav li {
		padding: 0 4px;
	}
	.counters {
		padding: 15px 0 0;
	}
	footer .main {
		padding: 30px 0 25px;
	}
	.footer_nav2 li a{
		line-height: 160%;
	}
	.upb {
		margin: 20px 0 0 0;
	}
}
@media (max-width: 459px) {
	.pabl {
		display: none;
	}
	.sus {
		margin: 17px 0 0;
	}
	nav ul {
		width: auto;
		float: none;
	}
	.nav_filter_btn {
		float: none;
		width: 78px;
		margin: 16px auto 0;
	}
	nav.full_show {
		padding: 0 0 22px;
	}
	.pbl {
		width: auto;
		float: none;
		text-align: center;
	}
	.pbr_cnt {
		font-size: 14px;
		margin: 0;
	}
	.pbr {
		width: auto;
		float: none;
		clear: both;
		padding: 22px 0 0;
	}
	.btn_pbl a {
		box-shadow: 0 8px 16px #ccc;
		display: inline-block;
		float: none;
		padding: 11px 10px;
	}
	.btn_pbl a:active {
		padding: 12px 10px 10px;
	}
	.pbl_title {
		margin: 0;
		float: none;
	}
	.btn_pbl {
		float: none;
		width: auto;		
	}
}

@media (max-width: 420px) {
	.m_filter {
		width: auto;
		float: none;
	}
	.m_data {
		width: auto;
		float: none;
		padding: 13px 0 0;
	}
	.slider_top {
		margin: 5px 0 0;
	}
}

@media (max-width: 390px) {
	
	.btn_sell a {
		padding: 20px 27px;
		font-size: 25px;
		box-shadow: 0 6px 17px #ccc;
		display: inline-block;
	}
	.btn_sell a:active {
		padding: 21px 27px 19px;
	}
	.btn_sell{
		text-align: center;
		margin: 0;
		float: none;
		clear: both;
		padding: 17px 0 0;
	}
	.card_price{
		width: 214px;
		margin: 0 auto;
		float: none;
		padding: 12px 0 0;
	}
	.logo {
		float: left;
		width: 50%;
		text-align: center;
	}
	.sus {
		margin: 17px 0 0;
		width: 50%;
		text-align: left;
	}
	.ps_slider {
		margin: 15px 0 0;
	}
	.rew_last {
		display: block;
		width: 163px;
		margin: 0 auto 30px;
		float: none;		
	}
}
@media (max-width: 360px) {
	.bp_subscribe {
		text-align: center;
	}
	.bp_title{
		text-align: center;
	}
	.bp_subscribe input[type="email"], .bp_subscribe input[type="text"] {
		width: 94%;
		padding: 2px 3% 3px;
	}
	.bp_subscribe .btn {
		margin: 12px 0 0;
	}
}

