@media (max-width: 1540px) {
	.main {
		width: 1160px;
	}
	.top_nav ul li {
		margin: 0 32px 0 0;
	}
	.btn_sell {
		margin: 40px 0 0 37px;
	}
	.btn_sell a {
		padding: 25px 23px;
		font-size: 30px;
	}
	.btn_sell a:active {
		padding: 26px 23px 24px;
	}
	.head_k_like{
		margin: 37px 0px 0px 37px;
	}
	.kf_content_tags .tag{
		line-height: 28px;
		margin: 0px 3px 0px 0px;
	}
	.kr_pagination .pagin_page_form{
	margin: 0px 0px 0px 10px !important;
	}
	.pagin_page_buttons button{
		width: 25px !important;
	}
	.pbr {
		width: 376px;
	}
	.pbl_title {
		font-size: 23px;
		margin: 12px 15px 0 0;
	}
	.new_v {
		margin: 0 0 0 30px;
		width: 167px;
	}
	.new_v.new_v_r{
		margin: 0 0 0 30px;
	}
	.rew_last{
		margin: 0;
	}
	.bp_slider_block {
		width: 896px;
	}
	.onas_title {
		font-size: 18px;
	}
	.upb {
	    width: 242px;
		height: 358px;
		margin: 0 auto;
		background: url(../images/up_block.png) center center no-repeat;
		margin: 52px 0 0 0;
	}
	.card_price {
		margin: 37px 0 0 18px;
	}
	.open24_in {
		margin: 20px 0 0 13px;
	}
	.s1_btn {
		font-size: 13px;
	}
	.right_buttons{
		width: auto;
		float: right;
		margin-left: 0px;
		width: calc( 100% - 610px )
	}
	.right_buttons .item img{
		width: 35px;
	}
	.right_buttons .item a{
		font-size: 12px;
	}
	.kfr_content > .text{
		width: 600px;
	}
	.kfr_content .cards .card, .kfr_content .cards .card_img img{
		width: 187px;
	}
	.myshop .kr_pagination .pagin_page_nav{
		float:left;
		margin-top: 10px;
	}
	.myshop .kr_pagination .pagin_page_form{
		margin-left: 40px !important;
	}
	.myshop .kb_left .kp_about .p_out{
		margin: 5px 0 0 0;
	}
	.myshop .kb_left .k_profile .kp_image, .myshop .kb_left .k_profile .kp_image img  {
		width: 65px;
		height: 65px;
	}
	.myshop .kb_left .kp_info {
		height: 65px;
		width: calc(100% - 80px);
	}
	.myshop .kb_left .kp_info span {
		margin-top: 0;
	}
}
@media (max-width: 1320px) {
	.main {
		width: 960px;
	}
	.acc_block {
		float: right;
		margin: 0;
	}
	.basket_block {
		float: right;
		padding: 10px 15px 0 0;
		clear: right;
	}
	.acc_block ul li {
		margin: 0 0 0 14px;
	}
	.pabl{
		display: none;
	}
	nav ul {
		width: 89%;
	}
	.btn_start_pay {
		width: 265px;
		margin: 0 auto;
	}
	.btn_start_pay a{
		padding: 17px 0 17px;
		font-size: 21px;
	}
	.btn_start_pay a:hover{
		padding: 18px 0 16px;
	}
	.s1_left {
		width: 62%;
		margin-right: 2%;
	}
	.s1_right {
		width: 36%;
	}
	.pbl {
		width: 315px;
		margin-top: -10px;
	}
	.pbr {
		width: 306px;
	}
	.pbr br{
		display: none;
	}
	.pbr_cnt {
		padding: 15px;
	}
	.btn_pbl a {
		padding: 11px 0;
		margin-top: 9px;
	}
	.pbl_title {
		margin: 0px 15px 0 0;
	}
	.new_v,
	.new_v.new_v_r{
		margin: 0 0 0 62px;
		width: 203px;
		float: left;
	}
	.video_middle {
		clear: both;
		padding: 15px 0 0;
	}
	.bp_slider_block {
		width: 658px;
	}
	.bp_subscribe {
		margin: 20px 0 0 0;
	}
	.upb {
		margin: 37px 0 0 0;
	}
	.isoc img{
		width: 90%;
	}
	.ipay img{
		width: 90%;
	}
	.header_cnt {
		padding: 0;
	}
	.pl {
		margin: -10px 0 0;
	}
	.pl_more {
		margin: 1px 0 0 12px;
	}
	.btn_sell {
		margin: 40px 0 0 28px;
	}
	.k_btn_sell {
		margin: 40px 0 0 28px;
	}
	.kf_content_tags .tag{
		margin: 0px;
		padding: 3px;
		line-height: 23px;
	}
	.kfc_radio{
		font-size: 12px !important;
	}
	.kr_items .item{
		width:160px;
		margin: 10px calc(( 100% - 660px) / 3 )  10px  0px;
		margin: 10px -webkit-calc(( 100% - 660px) / 3 )  10px  0px;
	}
	.kr_items .item_buy {
		text-align: center;
	}
	.kr_items .item_buy .right, .kr_items .item_buy .left{
		float:none;
		text-align: center;
	}
	.kr_items .buy_button{
		margin-top: 10px;
	}
	.kr_pagination .pagin_page_form{
		margin: 0px !important;
		float:right;
	}
	.kbr_content .kr_pagination{
		margin-top: 20px;
	}
	.pagin_page_buttons button{
		width: 30px !important;
	}
	.kr_pagination .pagin_page_form{
		float:right;
	}
	.kr_pagination .pagin_page_nav{
		float: none;
		text-align: right;
		margin-top: 40px;
	}
	.kbl_item .image img{
		max-width: 60px;
	}
	.kbl_item .image{
		width: 60px;
	}
	.kbl_item .content{
		max-width: calc(100% - 85px);
		max-width: -webkit-calc(100% - 85px);
		font-size: 12px;
	}
	.right_buttons .item img {
		width: auto;
		float: left;
	}
}
@media (max-width: 1177px) {
	.katalog .main, .kataloge .main{
		width: 1050px;
	}
	.head_k_like {
		margin: 37px 0px 0px 10px;
	}
	.btn_sell {
		margin: 40px 0 0 10px;
	}
	.card_price {
		margin: 37px 0 0 10px;
	}
	.head_k_like img {
		max-height: 70px;
	}
	.btn_sell a {
		padding: 23px 12px;
	}
	.kr_items .item {
		width: 190px;
	}
	.myshop .kr_items .item {
		margin: 10px calc((100% - 570px) / 2) 10px 0px;
		margin: 10px -webkit-calc((100% - 570px) / 2) 10px 0px;
	}
	.kr_items .item .item_buy {
		font-size: 23px;
	}
	.kr_items .buy_button {
		font-size: 11px;
	}
	.video_middle {
		width: 260px;
	}
	.video_middle img {
		max-width: 270px;
	}
}

@media (max-width: 1120px) {
	.slider_top {
		margin: 25px 64px 0;
	}
	.s1_price {
		font-size: 24px;
	}
	.s1_btn {
		font-size: 11px;
		padding: 10px 13px;
	}
}
@media (max-width: 1067px) {
	.katalog .main, .kataloge .main{
		width: 974px;
	}
	.kr_items .item {
		width: 180px;
	}
	.myshop .kr_items .item {
		margin: 10px calc((100% - 540px) / 2) 10px 0px;
		margin: 10px -webkit-calc((100% - 540px) / 2) 10px 0px;
	}
	.myshop .kb_left .stats li {
		font-size: 12px;
	}
	.myshop .kb_left .individ {
		height: calc(100vw * 0.135);
		height: -webkit-calc(100vw * 0.135);
	}
	.katalog .kb_left .feedback a, .myshop .kb_left .question_feedback a{
		width: 60%;
		display: inline-table;
	}
	.myshop .kb_left .feedback img, .myshop .kb_left .question_feedback img{
		display: inline-table;
		vertical-align: sub;
	}
	.kr_items .item_buy .left, .kr_items .item_buy .right {
		float: none;
		text-align: center;
	}
	.kr_items .item_buy .right {
		margin-top: 5px;
	}
	.myshop .kb_left .individ {
		height: calc(100vw * 0.155);
		height: -webkit-calc(100vw * 0.155);
	}
}
@media (max-width: 991px) {
	
	.main, .katalog .main, .kataloge .main{
		width: 740px;
	}
	.acc_block {
		margin: 10px 0 0;
		float: left;
	}
	.k_open24{
		display: none !important;
	}
	.open24_mob{
		display: block !important;
	}
	.acc_block ul li {
		margin: 0 14px 0 0;
	}
	.basket_block {
		float: left;
		padding: 10px 14px 0 0;
	}
	.header_cnt {
		padding: 20px 0 0;
	}
	.pabl {
		display: block;
	}
	.btn_sell {
		margin: 20px 0 0 140px;
		clear: left;
	}
	.open24 {
		float: right;
		margin: 8px 150px 0 0;
	}
	nav ul {
		width: 85%;
	}
	nav ul li {
		margin: 0 10px 15px;
	}
	.m_search {
		float: right;
		width: 32%;
	}
	.m_data {
		width: 46%;
	}
	.m_filter {
		width: 18%;
	}
	.pbl {
		width: 200px;
		margin-top: -10px;
	}
	.pbl_title {
		line-height: 100%;
	}
	.pbr {
		width: 205px;
	}
	.pbr_cnt {
		font-size: 14px;
	}
	.new_v, .new_v.new_v_r {
		margin: 0 0 0 29px;
		width: 163px;
	}
	.bp_slider_block {
		width: 438px;
	}
	.bps_more a {
		line-height: 100%;
	}
	.upb {
		margin: 67px 0 0 0;
	}
	.onas_title br{
		display: none;
	}
	.katalog .kb_right{
		width: 73%;
		margin-left: 4%;
	}
	.katalog .kb_left{
		width: 23%;
	}
	.kr_items .item{
		width: 110px;
		margin: 10px calc((100% - 460px) / 3) 10px 0px;
		margin: 10px -webkit-calc((100% - 460px) / 3) 10px 0px;
	}
	.item_rating img{
		width:17px;
		height:15px;
	}
	.kr_items .item_tags .tag{
		margin: 0px;
		padding: 3px;
		line-height: 23px;
	}
	.kr_items .item .item_buy{
		font-size: 25px;
	}
	.kr_pagination .pagin_page_buttons,.kr_pagination  .pagin_page_form,.kr_pagination  .pagin_page_nav{
		float: none !important;
		text-align: left !important;
		margin-top: 10px !important;
	}
	.kbl_item{
		width: calc((100% - 20px) / 2);
		width: -webkit-calc((100% - 20px) / 2);
		margin: 0px 10px 20px 0px;
	}
	.k_btn_sell{
		margin: 25px 0px 0px 20px;
	}
	#scroller{
		bottom: 10px;
		right: 10px;
		z-index: 50;
	}
	.kbl_item{
		    height: 125px;
	}
	.g_header_cnt{
		display:block !important;
	}
	.head_k_like {
		display: none;
	}
	.mobile_header_cnt{
		margin-top: 5px;
	}
	.right_buttons{
		display: block;
		float: none;
		width: auto;
	}
	.right_buttons .item{
		display: inline-block;
		margin: 10px 10px 0 0;
	}
	.width1600{
		display:none;
	}
	.right_buttons .item a {
		font-size: 14px;
		top: 10px;
		position: relative;
	}
	.kfr_content > .text{
		width: auto;
	}
	.kfr_content .cards .card{
		width: calc(( 100% - 39px ) /3 );
		width: -webkit-calc(( 100% - 39px ) /3 );
	}
	.kfr_content .cards .card_img img{
		width: 100%;
	}	
	.myshop .kb_right .ms_left .msl_search form {
		width: 100%;
		display: block;
		margin-top: 10px;
		margin-left: 0px;
	}
	.myshop .kr_items .item {
		margin: 10px calc((100% - 330px) / 2) 10px 0px;
		margin: 10px -webkit-calc((100% - 330px) / 2) 10px 0px;
	}
	.myshop .kb_left .individ span {
		padding: 7px;
	}
	.myshop .kr_pagination .pagin_page_form {
		margin-left: 0px !important;
	}
	.myshop .kb_left .menu {
		padding: 0 10px 10px 10px;
	}
	.onas_icon.isoc img, .onas_icon.ipay img{
		width: 100%;
	}
}
@media (max-width: 790px) {
	.main, .katalog .main, .kataloge .main {
		width: auto;
		margin: 0 15px;
	}
	.top_nav ul li {
		margin: 0 17px 5px 0;
	}
	.top_nav {
		float: none;
	}
	.acc_block {
		margin: 0 0 0 17px;
	}
	.basket_block {
		padding: 6px 0 0 0;
	}
	.pl {
		float: none;
		margin: 0 -15px;
		background: #92be3f;
		width: auto;
	}
	.pl_top{
		background: url(../images/pl_top.png) 0 0 repeat-x;
	}
	.pl_bottom{
		background: url(../images/pl_bottom.png) 0 0 repeat-x;
	}
	.pl_more {
		margin: 6px 0 4px;
		float: right;
	}
	.card_price {
		margin: 17px 0 0 0;
		clear: left;
	}
	.btn_sell {
		margin: 13px 0 0 20px;
		clear: none;
	}
	.open24 {
		float: left;
		margin: 0px 0 0 20px;
	}
	nav ul {
		height: 80px;
		width: 80%;
	}
	.m_search input[type="text"] {
		padding: 10px 4% 9px;
		width: 92%;
		font: 13px ComicRelief_Regular, Tahoma;
		border-radius: 8px;
	}
	.m_search {
		width: 21%;
	}
	.m_data {
		width: 54%;
	}
	.m_filter {
		width: 21%;
	}
	
	.popular_block {
		padding: 145px 0 0;
	}
	.pbl {
		width: 48%;
	}
	.pbr {
		width: 48%;
	}
	.new_v, .new_v.new_v_r {
		margin: 0 0 0 4%;
		width: 21%;
	}
	.bp_slider_block {
		width: auto;
		float: none;
	}
	.bp_slider_block {
		margin: 0 27px;
	}
	.up_block {
		float: none;
		width: 242px;
		margin: 0 auto;
	}
	.upb {
		margin: 37px 0 0 0;
	}
	.myshop .kb_right .ms_right .socbuttons img{
		width: 100%;
	}
}

@media (max-width: 720px) {
	.open24 {
		float: none;
		margin: 0px auto;
		clear: both;
		width: 206px;
		padding: 17px 0 0;
	}
	.cb_left {
		width: 50%;
	}
	.cb_middle {
		width: 50%;
	}
	.cb_right {
		width: auto;
		margin-left: 0;
		float: none;
		clear: both;
		padding: 20px 0 0;
	}
	.rew_last{
		display: none;
	}
	.new_v, .new_v.new_v_r {
		margin: 0 1.5%;
		width: 30.33%;
	}
	.video_middle {
		padding: 20px 0 0;
	}
.katalog .kb_right{
		width: 73%;
		margin-left: 4%;
	}
	.katalog .kb_left{
		width: 23%;
	}
	.kr_items .item{
		width: 110px;
		margin: 10px calc((100% - 460px) / 3) 10px 0px;
		margin: 10px -webkit-calc((100% - 460px) / 3) 10px 0px;
	}
	.item_rating img{
		width:17px;
		height:15px;
	}
	.kr_items .item_tags .tag{
		margin: 0px;
		padding: 3px;
		line-height: 23px;
	}
	.kr_items .item .item_buy{
		font-size: 25px;
	}
	.kr_pagination .pagin_page_buttons,.kr_pagination  .pagin_page_form,.kr_pagination  .pagin_page_nav{
		float: none !important;
		text-align: left !important;
		margin-top: 10px !important;
	}
	.kbl_item{
		width: calc((100% - 20px) / 2);
		width: -webkit-calc((100% - 20px) / 2);
		margin: 0px 10px 20px 0px;
	}
	.head_k_like{
		margin: 17px 0px 0px 37px;
	}
	.k_btn_sell{
		margin: 25px 0px 0px 20px;
	}
	#scroller{
		bottom: 10px;
		right: 10px;
		z-index: 50;
	}
	.kbl_item{
		    height: 125px;
	}
	.myshop .kb_left .individ {
		height: calc(100vw * 0.175);
		height: -webkit-calc(100vw * 0.175);
	}
	.kr_items .item {
		width: 100px;
	}
	.myshop .kr_items .item {
		margin: 10px calc((100% - 300px) / 2) 10px 0px;
		margin: 10px -webkit-calc((100% - 300px) / 2) 10px 0px;
	}
	.item_rating img {
		width: 15px;
		height: 13px;
	}
}
@media (max-width: 660px) {
	.m_search {
		display: none;
	}
	.m_filter {
		width: 25%;
	}
	.m_data {
		width: 73%;
		padding: 0 0 0 2%;
	}
	.banner{
		display: none;
	}
.head_k_like{
		margin: 17px 0px 0px 7px;
	}
	.k_btn_sell{
		margin: 25px 0px 0px 7px;
	}
	.kr_items .item{
		width: 100px;
		margin: 10px calc((100% - 420px) / 3) 10px 0px;
		margin: 10px -webkit-calc((100% - 420px) / 3) 10px 0px;
	}
	.kr_items .buy_button{
		font-size: 11px;
	}
	.item_rating img {
    width: 15px;
    height: 13px;
	}
	.kf_title .name{
		font-size: 19px;
	}
	.kf_content_tags .tag{
		padding: 2px;
		line-height: 21px;
	}
	.k_search input[type="submit"]{
		right: -2px;
	}
	.kfr_content .cards .card{
		width: 250px;
		margin: 0 0 20px calc(( 100% - 250px ) /2 );
		margin: 0 0 20px -webkit-calc(( 100% - 250px ) /2 );
	}
	.kfr_content .cards .card_img img{
		width: 250px;
	}
}
@media (min-width: 561px) {
	.top_nav ul{
		display: block !important;
	}
}
@media (max-width: 560px) {
	.row_top {
		text-align: center;
	}
	.your_country {
		float: none;
		background: 0;
	}
	.acc_block {
		margin: 7px 0 0;
		float: none;
	}
	.acc_block ul li {
		float: none;
		display: inline-block;
	}
	.basket_block {
		padding: 10px 0 0 0;
		float: none;
		display: inline-block;
	}
	.nav_btn{
		display: block;
		background: #92be3f url(../images/btn_nav.png) 15px center no-repeat;
		height: 36px;
		margin: 0 -15px;
		text-decoration: none;
	}
	.top_nav {
		float: none;
		position: fixed;
		z-index: 3;
		left: 0;
		top: 0;
		right: 0;
		padding: 0 15px;
	}
	.top_nav ul{
		display: none;
		background: #fff;
		padding: 0;
		margin: 0 -15px;
	}
	.top_nav ul li {
		float: none;
		text-align: left;
		margin: 0;
	}
	.row_top {
		padding: 0;
	}	
	.your_country {
		padding: 48px 0 0;
	}
	.top_nav ul li a {
		text-transform: uppercase;
		font-size: 12px;
		display: block;
		padding: 8px 15px 7px;
		border-bottom: 1px solid #E4E4E4;
	}
	nav ul {
		width: 75%;
	}
	.m_filter {
		width: 35%;
	}
	.m_data {
		width: 63%;
	}
	.cb_left {
		width: auto;
		float: none;
	}
	.cb_left li {
		width: 43%;
		margin: 0 3.5% 30px 3.5%;
	}
	.cb_middle {
		width: auto;
		float: none;
		padding: 20px 0 0;
		clear: both;
	}
	.c_title{
		line-height: 120%
	}
	.katalog .kb_left{
		width: 27%;
	}
	.katalog .kb_right {
		width: 69%;
		margin-left: 4%;
	}
	.kr_items .item{
		width: 160px;
		margin: 10px calc(100% - 320px) 10px 0px;
		margin: 10px -webkit-calc(100% - 320px) 10px 0px;
	}
	.kr_items .item:nth-child(4n+4) {
		margin: 10px calc(100% - 320px) 10px 0px;
		margin: 10px -webkit-calc(100% - 320px) 10px 0px;
	}
	.kr_items .item:nth-child(2n+2) {
		margin: 10px 0px;
	}
	.pagin_page_buttons button {
		width: 25px !important;
	}
	.kr_pagination .pagin_page.next{
		width: 140px !important;
		font-size: 10px;
	}
	.item_rating img {
		width: 19px;
		height: 17px;
	}
	.kr_items .item_tags .tag {
		padding: 5px;
		line-height: 21px;
	}
	.kfc_radio {
		font-size: 11px !important;
	}
	.kf_content_tags .tag {
		padding: 3px 1px;
		line-height: 23px;
	}
	.myshop .kb_right .ms_left, .myshop .kb_right .ms_right {
		width: auto;
		float: none;
	}
	.myshop .kb_right .ms_right .socbuttons img{
		width: auto;
	}
	.myshop .kb_right .ms_right .socbuttons a{
		    display: block;
	}
	.myshop .kr_items .item{
		width: 210px;
		float: none;
		margin: 10px 0 10px 0;
		height: auto;
	}
	.kr_items ul{
		text-align: center;
	}
	.kr_items .buy_button {
	    padding: 5px;
	    font-size: 13px;
	}
	.katalog .kb_left .feedback a, .myshop .kb_left .question_feedback a {
		width: auto;
	}
	.myshop .kb_left .feedback img, .myshop .kb_left .question_feedback img{
		display: none;
	}
	.myshop .kb_left .kp_info .name, .katalog .kb_left .kp_info .surname {
		font-size: 13px;
	}
	.myshop .kb_left .kp_info{
		padding-top: 0px;
		vertical-align: baseline;
	}
	.myshop .kb_left .individ{
		font-size: 9px;
		height: calc(100vw * 0.195);
		height: -webkit-calc(100vw * 0.195);
	}
	.kr_items .item_buy .left {
		float: left;
	}
	.kr_items .item_buy .right {
		float: right;
	}
	.myshop .kb_left .k_profile .kp_image, .myshop .kb_left .kp_info {
		display: block;
	}
	.myshop .kb_left .k_profile .kp_image {
		width: auto;
		height: 65px;	
		text-align: center;
	}
	.myshop .kb_left .k_profile .kp_image img {
		margin-top: 0px;
	}
	.myshop .kb_left .kp_info {
		width: auto;
		height: auto;
	}
	.kr_pagination .pagin_page_form{
		margin-top: 30px !important;
	}
	.kr_pagination .pagin_page.next{
		margin-top: 5px;
	}
	.myshop .kb_left .kp_info{
		margin-top: 10px;
	}
	.top_nav {
		z-index: 20;
	}
}

@media (max-width: 520px) {
	.open24 {
		float: none;
		margin: 0px auto;
		clear: both;
		width: 206px;
		padding: 17px 0 0;
	}
	.logo img{
		width: 80px;
	}
	.sus {
		margin: 37px 0 0;
	}
	.btn_sell a {
		padding: 10px 17px;
		font-size: 15px;
		box-shadow: 0 6px 17px #ccc;
	}
	.btn_sell a:active {
		padding: 11px 17px 9px;
	}
	.btn_sell {
		margin: 34px 0 0 20px;
	}
	.c_title span {
		padding: 0;
	}
	.bp_title {
		line-height: 120%;
	}
	.onas_li {
		width: auto;
		float: none;
		padding: 0 0 30px;
	}
	.onas_li:last-child {
		padding: 0 0 0;
	}
	.onas_icon {
		padding: 10px 0 0;
	}	
	.k_search input[type="text"]{
		width: 80%;
	}
	.pagin_page.five, .pagin_page.four{
		display:none;
	}
	.katalog .kb_left {
		width: 30%;
	}
	.katalog .kb_right {
		width: 66%;
		margin-left: 4%;
	}
	.ms_left .kr_head .sort_buttons {
		float: none;
		text-align: center;
		width: 100%;
	}
}
@media (max-width: 480px) {
	.new_v, .new_v.new_v_r {
		margin: 0 auto 20px;
		width: 202px;
		float: none;
	}
	.video_middle{
		width: auto;
		margin: 0 auto;
		text-align: center;
	}
	.bp_slider_block {
		margin: 0;
	}
	.footer_nav li {
		padding: 0 4px;
	}
	.counters {
		padding: 15px 0 0;
	}
	footer .main {
		padding: 30px 0 25px;
	}
	.footer_nav2 li a{
		line-height: 160%;
	}
	.upb {
		margin: 20px 0 0 0;
	}
	.katalog .kb_left {
		width: 33%;
	}
	.katalog .kb_right {
		width: 63%;
		margin-left: 4%;
	}
	.kr_items .item {
		width: 210px;
		margin: 10px calc(( 100% - 210px ) /2 ) 10px calc(( 100% - 210px ) /2 );
		margin: 10px -webkit-calc(( 100% - 210px ) /2 ) 10px -webkit-calc(( 100% - 210px ) /2 );
	}
	.kr_items .item:nth-child(2n+2) {
		margin: 10px calc(( 100% - 210px ) /2 ) 10px calc(( 100% - 210px ) /2 );
		margin: 10px -webkit-calc(( 100% - 210px ) /2 ) 10px -webkit-calc(( 100% - 210px ) /2 );
	}
	.kr_items .item_buy .left {
		float: left;
		font-size: 28px;
	}
	.kr_items .buy_button{
		height: 30px;
		margin: 0px;
	}
	.pagin_page_buttons{
		height: 73px !important;
	}
	.kr_pagination .pagin_page.next{
		margin-top: 10px;
		width: 165px !important;
		font-size: 12px;
	}
	.pagin_page.five, .pagin_page.four {
		display: inline-block;
	}
	.kbl_item{
		height: auto;
	    display: block;
		width: 100%;
		margin: 10px 0px;
	}
	.head_k_like img{
		margin-top: 15px;
	}
	.kr_pagination .pagin_page_nav {
		height: 63px;
	}
	.pagin_page_nav .pagin_page{
		margin-top: 10px;
	}
	.k_search input[type="text"] {
		width: 78%;
	}
	.pagin_page_nav span{
		display: block;
	}
	.myshop .kb_right .ms_left .msl_search input[type="submit"]{
		font-size: 11px;
		padding: 10px 0px;
	}
	.myshop .kb_left .individ {
		height: calc(100vw * 0.215);
		height: -webkit-calc(100vw * 0.215);
	}
}
@media (max-width: 459px) {
	.pabl {
		display: none;
	}
	.sus {
		margin: 17px 0 0;
	}
	nav ul {
		width: auto;
		float: none;
	}
	.nav_filter_btn {
		float: none;
		width: 78px;
		margin: 16px auto 0;
	}
	nav.full_show {
		padding: 0 0 22px;
	}
	.pbl {
		width: auto;
		float: none;
		text-align: center;
	}
	.pbr_cnt {
		font-size: 14px;
		margin: 0;
	}
	.pbr {
		width: auto;
		float: none;
		clear: both;
		padding: 22px 0 0;
	}
	.btn_pbl a {
		box-shadow: 0 8px 16px #ccc;
		display: inline-block;
		float: none;
		padding: 11px 10px;
	}
	.btn_pbl a:active {
		padding: 12px 10px 10px;
	}
	.pbl_title {
		margin: 0;
		float: none;
	}
	.btn_pbl {
		float: none;
		width: auto;		
	}
}

@media (max-width: 420px) {
	.m_filter {
		width: auto;
		float: none;
	}
	.m_data {
		width: auto;
		float: none;
		padding: 13px 0 0;
	}
	.slider_top {
		margin: 5px 0 0;
	}
.kr_pagination .pagin_page_nav {
		height: 63px;
	}
	.pagin_page_nav .pagin_page{
		margin-top: 10px;
	}
	.k_search input[type="text"] {
		width: 78%;
	}
	.kf_content_tags .tag {
		line-height: 31px;
		padding: 5px;
		margin: 0px 5px 0px 0px;
	}
	.myshop .kb_left .individ {
		height: calc(100vw * 0.235);
		height: -webkit-calc(100vw * 0.235);
	}
	.katalog .kb_left{
		width: auto;
		margin-left: 10%;
	}
	.katalog .kb_right {
		width: auto;
	}
	.k_search input[type="submit"] {
		right: 40px;
	}
	.kf_content_tags, .kf_content_dist {
		padding: 0px 56px;
	}
	.kb_left{
		margin-bottom: 20px;
	}
	.myshop .kb_left .k_profile .kp_image {
		width: 85px;
		height: 85px;
		display: inline-block;
	}
	.myshop .kb_left .kp_info {
		display: inline-block;
		height: 80px;
		width: calc(100% - 100px);
		width: -webkit-calc( 100% - 100px );
		vertical-align: bottom;
		padding-top: 5px;
		margin-left: 10px;
	}
	.myshop .kb_left .individ {
		font-size: 14px;
	}
	.myshop .kb_left .individ {
		height: calc(100vw * 0.5);
		height: -webkit-calc(100vw * 0.5);
	}
	.myshop .kb_left .individ span{
		    padding: 30px;
	}
	.ms_left .kr_head .sort_buttons {
		width: auto;
		float: right;
	}
}

@media (max-width: 390px) {
	
	.btn_sell a {
		padding: 20px 27px;
		font-size: 25px;
		box-shadow: 0 6px 17px #ccc;
		display: inline-block;
	}
	.btn_sell a:active {
		padding: 21px 27px 19px;
	}
	.btn_sell{
		text-align: center;
		margin: 0;
		float: none;
		clear: both;
		padding: 17px 0 0;
	}
	.card_price{
		width: 214px;
		margin: 0 auto;
		float: none;
		padding: 12px 0 0;
	}
	.logo {
		float: left;
		width: 50%;
		text-align: center;
	}
	.sus {
		margin: 17px 0 0;
		width: 50%;
		text-align: left;
	}
	.ps_slider {
		margin: 15px 0 0;
	}
	.rew_last {
		display: block;
		width: 163px;
		margin: 0 auto 30px;
		float: none;		
	}
	.kr_pagination .pagin_page_form {
		margin-top: 0px !important;
	}
}
@media (max-width: 360px) {
	.bp_subscribe {
		text-align: center;
	}
	.bp_title{
		text-align: center;
	}
	.bp_subscribe input[type="email"], .bp_subscribe input[type="text"] {
		width: 94%;
		padding: 2px 3% 3px;
	}
	.bp_subscribe .btn {
		margin: 12px 0 0;
	}
}