@font-face {
    font-family: 'ComicRelief_Regular';
    src: url('fonts/comicrelief-webfont.eot');
    src: url('fonts/comicrelief-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/comicrelief-webfont.woff2') format('woff2'),
         url('fonts/comicrelief-webfont.woff') format('woff'),
         url('fonts/comicrelief-webfont.ttf') format('truetype'),
         url('fonts/comicrelief-webfont.svg#ComicRelief_Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	font: 14px/120% ComicRelief_Regular;
	color:#000;
	margin:0;
	padding:0;
}
*{
	margin:0;
	padding:0;
}
header,footer,article,section,hgroup,nav,figure{
	display:block;
}
button::-moz-focus-inner,
input[TYPE="RESET"]::-moz-focus-inner,
input[TYPE="BUTTON"]::-moz-focus-inner,
input[TYPE="SUBMIT"]::-moz-focus-inner,
input[TYPE="SUBMIT"]::-moz-focus-inner,
input[TYPE="FILE"] > input[TYPE="BUTTON"]::-moz-focus-inner{
	border:none;
}
img{
	border:0;
}
*:focus{
	outline:none;
}
a{
	/*transition: 0.2s;*/
}
.clear,
.clearfix:after,
.main:after{
	clear:both;
	float:none;
	font-size:0;
	height:0;
	line-height:0;
	margin:0;
	padding:0;
	content: ".";
	visibility: hidden;
	overflow: hidden;
	display: block;
}
/*----------------------------------*/

.main{
	margin:0 auto;
	width:1340px;
}
.row_top{
	padding: 12px 0 0;
	
}
.top_nav{
	float: left;
}
.top_nav ul li{
	list-style: none;
	float: left;
	margin: 0 47px 0 0;
}
.top_nav ul li a{
	color:#ae936f;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}
.top_nav ul li a:hover{
	text-decoration: underline;
}
.your_country{
	font-size: 12px;
	text-transform: uppercase;
	float: left;
	padding: 1px 0 0;
}
.your_country a{
	color:#92be3f;
	text-decoration: underline;
	padding-left: 2px;
}
.your_country a:hover{
	color:#e73a42;
}
.acc_block{
	float: left;
	margin: 0 0 0 47px;
}
.acc_block ul li{
	list-style: none;
	float: left;
	margin: 0 14px 0 0;
}
.acc_block ul li img{
	float: left;
	margin: 0 9px 0 0;
}
.acc_block ul li a{
	color:#ae936f;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;	
}
.acc_block ul li a:hover{
	text-decoration: underline;
}
.basket_block{
	float: right;
	color:#ae936f;
	text-transform: uppercase;
	font-size: 12px;
	padding: 1px 0 0;
}
.basket_block img{
	float: left;
	margin: -3px 9px 0 0;	
}
.basket_block a{
	color: #92be3f;
	text-decoration: underline;
}
.basket_block a:hover{
	color: #e73a42;
}
.header_cnt{
	padding: 20px 0 0;
}
.pl{
	/*background: #92be3f;*/
	color: #fff;
	font-size: 12px;
	float: left;
	background: url(../images/plf.png) 0 0 no-repeat;
	width: 566px;
}
.pl_top{
	height: 5px;
	/*background: url(../images/pl_top.png) 0 0 repeat-x;*/
}
.pl_bottom{
	height: 5px;
	/*background: url(../images/pl_bottom.png) 0 0 repeat-x;*/
}
.pl a{
	color: #fff;
	text-decoration: underline;
}
.pl a:hover{
	text-decoration: none;
}
.pl_in{
	padding: 4px 17px 5px;	
}
.pl_in img{
	float: left;
	margin: 0 10px 0 0;
}
.pl_more{
	float: left;
	margin: 9px 0 0 12px;
}
.pl_more a{
	font-size: 15px;
	color: #92be3f;
	text-decoration: underline;
	text-transform: uppercase;
}
.pl_more a:hover{
	color: #e73a42;
}
.logo{
	float: left;
}
.header_line{
	padding: 7px 0 0;
}
.sus{
	float: left;
	margin: 42px 0 0;
	font-size: 17.45px;
	text-transform: uppercase;
	text-align: center;
	width: 140px;
	line-height: 120%;
}
.sus a{
	text-decoration: none;
	color: #000;
}
.sus a:hover{
	text-decoration: underline;	
}
.pabl{
	background: url(../images/pabl.png) 0 0 no-repeat;
	width: 190px;
	height: 107px;
	float: left;
	position: relative;
	margin: 5px 0 0;
}
.pabl_mess{
	font-size: 12px;
	color: #ae936f;
	position: absolute;
	left: 47px;
	top: 17px;
	line-height: 120%;
}
.pabl_mess a{
	color: #e73a42;
	text-decoration: underline;
}
.pabl_mess a:hover{
	color: #92be3f;
}
.card_price{
	float: left;
	margin: 37px 0 0 38px;
}
.card_price img{
	float: left;
}
.card_price a{
	display: block;
	float: left;
	margin: 28px 0 0 10px;
	color: #e73a42;
	font-size: 12px;
	text-decoration: underline;
}
.card_price a:hover{
	color: #92be3f;	
}
.btn_sell{
	float: left;
	margin: 40px 0 0 70px;
}
.head_k_like{
	float: left;
	margin: 37px 0 0 47px;
}
.head_k_like img{
	float: left;
	max-height: 80px;
}
.btn_sell a{
	display: block;
	padding: 30px 35px;
	border-radius: 10px;
	background: #96c443;
	background: -moz-linear-gradient(top,  #96c443 0%, #4b6423 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96c443), color-stop(100%,#4b6423));
	background: -webkit-linear-gradient(top,  #96c443 0%,#4b6423 100%);
	background: -o-linear-gradient(top,  #96c443 0%,#4b6423 100%);
	background: -ms-linear-gradient(top,  #96c443 0%,#4b6423 100%);
	background: linear-gradient(to bottom,  #96c443 0%,#4b6423 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c443', endColorstr='#4b6423',GradientType=0 );
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 0 18px 26px #ccc;
}
.btn_sell a:hover{
	background: #96c443;
	background: -moz-linear-gradient(top,  #96c443 0%, #709234 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96c443), color-stop(100%,#709234));
	background: -webkit-linear-gradient(top,  #96c443 0%,#709234 100%);
	background: -o-linear-gradient(top,  #96c443 0%,#709234 100%);
	background: -ms-linear-gradient(top,  #96c443 0%,#709234 100%);
	background: linear-gradient(to bottom,  #96c443 0%,#709234 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c443', endColorstr='#709234',GradientType=0 );
}
.btn_sell a:active{
	background: #5c7b2c;
	padding: 32px 35px 28px;
}
.btn_start_pay{
	width: 285px;
	margin: -50px auto 0;
	z-index: 2;
	position: relative;
}
.btn_start_pay a{
	display: block;
	padding: 26px 0 28px;
	border-radius: 10px;
	background: #be5d80;
	background: -moz-linear-gradient(top,  #be5d80 0%, #983f5f 100%);
	background: -webkit-linear-gradient(top,  #be5d80 0%,#983f5f 100%);
	background: linear-gradient(to bottom,  #be5d80 0%,#983f5f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be5d80', endColorstr='#983f5f',GradientType=0 );
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 0 18px 26px #ccc;
	text-align: center;
}
.btn_start_pay a:hover{
	background: #d36794;
	background: -moz-linear-gradient(top,  #d36794 0%, #a34468 100%);
	background: -webkit-linear-gradient(top,  #d36794 0%,#a34468 100%);
	background: linear-gradient(to bottom,  #d36794 0%,#a34468 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d36794', endColorstr='#a34468',GradientType=0 );
}
.btn_start_pay a:active{
	background: #9B4151;
}

.btn_pbl{
	float: left;
	width: 170px;
}
.btn_pbl a{
	display: block;
	padding: 17px 0;
	border-radius: 10px;
	background: #cbcbcb;
	background: -moz-linear-gradient(top,  #cbcbcb 0%, #a3a3a3 100%);
	background: -webkit-linear-gradient(top,  #cbcbcb 0%,#a3a3a3 100%);
	background: linear-gradient(to bottom,  #cbcbcb 0%,#a3a3a3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbcbcb', endColorstr='#a3a3a3',GradientType=0 );

	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 0 18px 26px #ccc;
	text-align: center;
}
.btn_pbl a:hover{
	background: #d3d3d3;
	background: -moz-linear-gradient(top,  #d3d3d3 0%, #b5b5b5 100%);
	background: -webkit-linear-gradient(top,  #d3d3d3 0%,#b5b5b5 100%);
	background: linear-gradient(to bottom,  #d3d3d3 0%,#b5b5b5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#b5b5b5',GradientType=0 );
}
.btn_pbl a:active{
	background: #A0A0A0;
}

.open24{
	float: right;
	margin: 35px 10px 0 0;
}
.open24 img{
	float: left;
}
.open24_in{
	float: left;
	margin: 20px 0 0 24px;
}
.open24_in a{
	font-size: 13px;
	color: #e5474c;
	text-decoration: underline;
	line-height: 110%;
}
.open24_in a:hover{
	color: #92be3f;
}
.k_open24{
	float: right;
	clear: right;
}
.k_open24 img{
	float: left;
	width: 50px;
	height: 50px;
	position: relative;
	top: 3px;
	margin-right: 20px;
}
.k_open24_in{
	float: left;
}
.k_open24_in a{
	font-size: 12px;
	color: #e5474c;
	text-decoration: underline;
	line-height: 110%;
}
.k_open24_in a:hover{
	color: #92be3f;
}
.nav_line{
	padding: 20px 0 0;
}
.zig_zag{
	height: 10px;
	background: url(../images/zig_zag.png) 0 0 repeat-x;
}

nav{
	padding: 0 0 22px;
}
nav ul{	
	float: left;
	width: 91%;
	overflow: hidden;
	height: 32px;
	padding: 20px 0 0;
}
nav ul li{
	list-style: none;
	float: left;
	margin: 0 17px 17px;
}
nav ul li a{
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	line-height: 100%;
	position: relative;
}
nav ul li a span{
	display: block;
	font-size: 12px;
	color: #ae936f;
	text-transform: none;
}
nav ul li a:hover,
nav ul li a.active{
	color: #e73a42;
}
nav ul li a.active:before{
	display: block;
	content: '.';
	font-size: 0;
	overflow: hidden;
	text-indent: -9999px;
	width: 15px;
	height: 13px;
	background: #ccc;
	position: absolute;
	background: url(../images/nav_active.png) 0 0 no-repeat;
	left: 50%;
	top: -12px;
	margin-left: -7.5px;
	z-index: 2;
}
.m_top_line{
	padding: 26px 0 0;
}
.m_filter{
	float: left;
	width: 13%;
}
.m_data{
	float: left;
	width: 41%;
	font-size: 12px;
	text-align: center;
	padding: 0 2%;
}
.m_data a{
	color: #e73a42;
	text-decoration: underline;
}
.m_data a:hover{
	color: #92be3f;
}
.m_data span{
	color: #92be3f;
	font-size: 25px;
}
.m_search{
	float: right;
	width: 42%;
}
.m_search input[type="text"]{
	background: #e6e6e1;
	border: 0;
	padding: 15px 4% 10px;
	width: 92%;
	text-transform: uppercase;
	font: 15px ComicRelief_Regular;
	border-radius: 10px;
}
.mselect_btn{
	background: #92be3f url(../images/mselect_btn.png) right center no-repeat;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 6px;
	display: block;
	text-decoration: none;
	transition: 0.3s;
	min-width: 83px;
}
.mselect_btn:hover{
	background-color: #e73a42; 
}
.mselect_btn.active{
	background-color: #e73a42; 
	background-image: url(../images/mselect_btn_up.png); 
}
.other_filter{
	display: none;
	padding: 20px;
	margin: 15px 0 0;
	background: #e6e6e1;
	border-radius: 10px;
}
.nav_filter_btn{
	float: right;
	width: 7%;
	margin-top: 16px;
}
.m_filter_btn{
	margin: 5px 0 0;	
}
nav.full_show {
    padding: 0 0 3px;
}
nav.full_show ul{
	height: auto;
}
.slider_top{
	margin: 25px 0 0;
}
.slider_1 .owl-item{
	padding: 47px 0 0;
}
.slider_1 item{
	position: relative;
}
.label_icon{
	position: absolute; 
	top: 0px;
	right: -8px;
	z-index: 2;
}
div.vote-result{
	display: none;
}
div.vote-success{
	display: none;
}
.s1_left{
	float: left;
	width: 67%;
	margin-right: 3%;
}
.s1_right{
	float: left;
	width: 30%;
}
.s1_title{
	padding: 5px 0 0;
}
.s1_title a{
	font-size: 13px;
	color: #e73a42;
	text-decoration: underline;
}
.s1_title a:hover{
	color: #92be3f;
}
.s1_total_comments{
	font-size: 11px;
	color: #ae936f;
	background: url(../images/icon_tc.png) 2px 0 no-repeat;
	min-height: 18px;
	padding: 0 0 0 27px;
	margin: 7px 0 0;
}
.tags{
	padding: 8px 0 0;
}
.tags li{
	list-style: none;
	float: left;
	margin: 0 2px 2px 0;
	border: 1px solid #d2cfd1;
	border-radius: 2px;
	background: #fff;
	font-size: 9px;
	color: #9c9c9c;
	line-height: 100%;
	padding: 4px 6px;
	text-transform: uppercase;
}
.rating{
	margin: 7px 0 0;
}
.s1_price{
	font-size: 28px;
	color: #000;
	padding: 10px 4px 0 0;
	text-align: right;
	line-height: 120%;
}
.s1_btn{
	background: #92be3f;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 15px;
	border-radius: 6px;
	display: block;
	text-decoration: none;
	transition: 0.3s;
	float: right;
	margin: 15px 0 0;
}
.s1_btn:hover{
	background-color: #e73a42; 
}
.s1_btn:active{
	background-color: #e73a42; 
}
.rating li{
	list-style: none;
	float: left;
	margin: 0 2px 2px 0;
}
.creative{
	padding: 30px 0 0;
}
.c_title{
	background: url(../images/c_fon.png) 0 center repeat-x;
	text-align: center;
	font-size: 30px;
}
.c_title span{
	background: #fff;
	padding: 0 25px;
}
.cb_left{
	width: 37%;
	float: left;
}
.cb_right{
	width: 31%;
	margin-left: 6%;
	float: left;
}
.cb_middle{
	width: 26%;
	float: left;
	margin-top: -10px;
}
.creative_blocks{
	padding: 42px 0 0;
}
.cb_left li{
	list-style: none;
	float: left;
	width: 43%;
	margin: 0 7% 30px 0;
	text-align: center;
}
.cb_left li a{
	font-size: 20px;
	color: #000;
	text-decoration: underline;
}
.cb_left li a:hover{
	color: #e73a42;
}
.cb_left li a span{
	display: block;
	margin: 8px 0 0;
}
.cb_left li img{
	width: 100%;
	border-radius: 8px;
}
.cb_middle li{
	list-style: none;
	float: left;
	width: 44%;
	margin: 0 3% 10px;
	text-align: center;
}
.cb_middle li a{
	font-size: 15px;
	color: #000;
	text-decoration: none;
	line-height: 120%;
}
.cb_middle li a:hover{
	color: #e73a42;
	text-decoration: underline;
}
.cb_middle li a span{
	display: block;
	margin: 4px 0 0;
}
.cb_middle li img{
	width: 100%;
}
.cb_right li{
	list-style: none;
	margin: 0 0 20px 0;
	text-align: center;
}
.cb_right li a{
	font-size: 20px;
	color: #000;
	text-decoration: underline;
}
.cb_right li a:hover{
	color: #e73a42;
}
.cb_right li a span{
	display: block;
	margin: 8px 0 0;
}
.cb_right li img{
	width: 100%;
	border-radius: 8px;
}
.for_marka{
	text-align: center;
	padding: 17px 0 0;
	z-index: 1;
	position: relative;
}
.popular_block{
	background: url(../images/popular_fon.png) center top no-repeat;
	min-height: 170px;
	margin-top: -65px;
	z-index: 2;
	position: relative;
	padding: 54px 0 0;
}
.pbl{
	float: left;
	width: 505px;
}
.pbl_title{
	font-size: 25px;
	float: left;
	margin: 12px 40px 0 0;
}
.pbr{
	float: right;
	width: 480px;
}
.pbr_cnt{
	padding: 20px 0;
	text-align: center;
	font-size: 17px;
	background: #e6e6e1;
	border-radius: 10px;
	line-height: 110%;
	margin: -22px 0 0;
}
.ps_slider{
	margin: 15px 5% 0;
	background: url(../images/ps_fon.png) center bottom no-repeat;
	padding: 0 0 20px;
}
.ps_babl{
	height: 56px;
	overflow: hidden;
	text-align: center;
	background: url(../images/ps_babl.png) 30% 0 no-repeat;
	font-size: 13px;
	padding: 5px 0 0;
}
.ps_img_fon{
	background: url(../images/ps_img_fon.png) center 0 no-repeat;
	width: 90px;
	height: 90px;
	margin: 3px auto 0;
	text-align: center;
}
.ps_img_fon img{
	margin: 7px 0 0 0;
	width: 76px;
	height: 67px;
}
.person_slider .item{
	text-align: center;
}
.person_slider .item a{
	color: #000;
}
.person_slider .item a:hover{
	color: #e73a42;
}
.ps_a{
	padding: 10px 0 0;
}
.ps_babl_no_1{
	padding: 30px 0 0;
}
.ps_babl_no_2{
	padding: 45px 0 0;
}
.ps_babl_no_3{
	padding: 60px 0 0;
}
.favorite_news{
	background: #e6e6e1;	
}
.favorite_news .main{
	padding: 40px 0;
}
.rew_last{
	width: 163px;
	height: 289px;
	background: url(../images/rew_last.png) center center no-repeat;
	float: left;
	text-align: center;
	color: #fff;
	margin: 0 0 0 39px;
}
.rew_desc{
	text-align: left;
	padding: 6px 0 0;
	font-size: 12px;
	line-height: 120%;
}
.in_rew_last{
	padding: 17px 22px;
}
.rew_title{
	font-size: 12px;
	text-transform: uppercase;
}
.rew_img{
	padding: 4px 0 0;
}
.rew_more{
	padding: 4px 0 0;
}
.rew_more a{
	color: #fff;
	font-size: 12px;
}
.new_v{
	float: left;
	margin: 0 0 0 42px;
	width: 202px;
}
.nv_title{
	font-size: 14px;
	text-transform: uppercase;
}
.nv_img{
	padding: 12px 0 0;	
}
.nv_img img{
	width: 100%;
	max-width: 202px;
}
.nv_more,
.nm_more{
	padding: 5px 0 0;	
}
.nm_more{
	text-align: center;
}
.nv_more a,
.nm_more a{
	font-size: 12px;
	color: #363636;
	text-decoration: underline;
}
.nv_more a:hover,
.nm_more a:hover{
	color: #e73a42;
}

.nv_more a span,
.nm_more a span{
	text-transform: uppercase;
}
.nm_more a span{
	display: block;
	font-size: 14px;
}
.new_v_r{
	float: right;
}
.ml_0{
	margin-left: 0;
}
.video_middle{
	width: 370px;
	margin: 0 auto;
}
.video_middle img{
	width: 100%;
	max-width: 370px;
}
.best_p .main{
	padding: 40px 0;
}
.bp_slider_block{
	width: 890px;
	float: left;
}
.bp_slider{
	padding: 30px 0 0;
}
.bp_title{
	font-size: 20px;
	float: left;
	padding: 4px 0 0;
}
.bp_subscribe{
	margin: 0 0 0 30px;
	float: left;
}
.bp_subscribe input[type="email"],
.bp_subscribe input[type="text"]{
	background: #f6f6f5;
	border: 1px solid #f6f6f5;
	border-radius: 3px;	
	font: 15px/120% ComicRelief_Regular;
	color: #000;
	padding: 2px 10px 3px;
	width: 160px;
}
.bp_subscribe .btn{
	display: inline-block;
	padding: 5px 10px 6px;
	font-size: 14px;
	color: #fff;
	background: #b3cacc;
	text-decoration: none;
	border-radius: 3px;	
	text-transform: uppercase;
}
.bp_subscribe .btn:hover{
	background: #acd6da;
}
.bp_subscribe .btn:active{
	background: #a0babc;
}
.bps_more{
	padding: 11px 0 0;
}
.bps_more a{
	display: block;
	border: 2px dashed #d1d1d1;
	padding: 12px 10px;
	text-align: center;
	text-decoration: none;
	color: #000;
	font-size: 20px;
	transition: 0.2s;
}
.bps_more a:hover{
	border: 2px dashed #9cc330;
	color: #9cc330;
}
.up_block{
	float: right;
}
.upb{
	width: 242px;
	height: 358px;
	margin: 0 auto;
	background: url(../images/up_block.png) center center no-repeat;
	margin: 52px 70px 0 0;
}
.in_upb{
	padding: 20px;
	text-align: center;
	color: #fff;
}
.upb_title{
	font-size: 25px;
	text-transform: uppercase;
}
.upb_desc{
	font-size: 12px;
	line-height: 105%;
	text-transform: uppercase;
	padding: 12px 0 0;
}
.upb_desc span{
	font-size: 13px;
	display: block;
}
.upb_img{
	padding: 12px 0 0;
}
.upb_more{
	padding: 4px 0 0;
}
.upb_more a{
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
.upb_more a:hover{	
	text-decoration: underline;
}
.upb_price{
	font-size: 28px;
	padding: 12px 0 0;
}
.best_p .main{
	position: relative;
}
.bp_icon{
	position: absolute;
	top: 0;
	right: 70px;
}
.onas{
	background: #f6f6f5;
}
.onas .main{
	padding: 40px 0;
}
.onas_li{
	width: 33.33%;
	float: left;
}
.in_onas_li{
	padding: 0 20px;
	text-align: center;
}
.onas_title{
	font-size: 20px;
	color: #000;
	line-height: 120%;
}
.onas_icon{
	padding: 20px 0 0;
}
.banner{
	text-align: center;
}
.banner img{
	display: inline-block;
	width: 100%;
	max-width: 1504px;
}
footer{
	background: #e6e6e1;
	margin-top: -3px;
}
footer .main{
	padding: 35px 0 40px;
	text-align: center;
}
.footer_nav li{
	display: inline-block;
	padding: 0 10px;
}
.footer_nav li a{
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 160%;
}
.footer_nav li a:hover{
	text-decoration: underline;
}
.footer_nav2{
	padding: 8px 0 0;
}
.footer_nav2 li{
	display: inline-block;
	padding: 0 10px;
}
.footer_nav2 li a{
	color: #000;
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 12px;
}
.footer_nav2 li a:hover{
	text-decoration: none;
}
.counters{
	padding: 30px 0 0;
}
.copy{
	font-size: 13px;
	padding: 10px 0 0;
}
.autor{
	padding: 10px 0 0;
	color: #b3cacc;
}
.bps_img{
	text-align: center;
}
.bps_img img{
	width: 100%;
	max-width: 270px;
}
.nav_btn{
	display: none;
}
.breadcrumbs li{
	display: inline-block;
	font-family: Arial;
	font-size: 12px;
}
.breadcrumbs li a{ 
	color: #205ca2;
}
.katalog  {
	margin-top: 20px;
}
.katalog .k_title span, .katalog h1{
	font-family: Arial;
	font-size: 20px;
	font-weight: normal;
}
.katalog .kb_left{
	width: 16%;
	float:left;
}
.katalog .kb_right{
	width: 82%;
	float:left;
	margin-left: 2%;
}
.katalog .kb_left a, .katalog .kb_right a{
	color: #205ca2;
}
.katalog .kb_left a:hover, .katalog .kb_right a:hover{
	color: #86AE3D;
}
.katalog .k_cat li{
	display: block;
	font-family: Arial;
	font-size: 14px;
	margin-top: 10px;
	
}
.k_cat .active{
	color: #86ae3d;
}
.k_filter {
	margin-top: 20px;
}
.kf_item {
	margin: 30px 0px 20px 0px;
}
.kf_title  .name{
	display: block;
	font-family: Arial;
	font-size: 20px;
	margin-top: 10px;
}
.kf_title  .cancel{
	display: block;
	text-decoration: underline;
	font-family: Arial;
	font-size: 12px;
	color: #205ca2;
	margin: 5px 0px 20px 0px;
}
label.selectGeneral{
    display: block;
    position: relative;
    width: 250px;
    height: 40px;
    font-size: 18px;
    font-weight: normal;
    margin: 2px 0;
    border: 3px solid #d6d6d6;
    border-radius: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
label.selectGeneral:before{
    content: attr(placeholder);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    max-width: 100%;
    height: 34px;
    padding-left: 10px;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    color: #adadad;
    overflow-x: hidden;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}
label.selectGeneral:after{
    content: "<>";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 31px;
    background-color: #ffffff;
    border-bottom: 3px solid #d6d6d6;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
label.selectGeneral label{
    display: inline-block;
    min-width: 100%;
    height: 34px;
    font-size: 18px;
    font-weight: normal;
    line-height: 34px;
    white-space: nowrap;
    padding: 0 10px;
    background-color: #ffffff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
label.selectGeneral input, label.selectGeneral label{
    display: none;
}
label.selectGeneral div{
    min-width: 100%;
    max-height: 500px;
    overflow-x: hidden;
}
label.selectGeneral input[type="checkbox"]:checked ~ div{
    position: absolute;
    top: 34px;
    z-index: 999;
    overflow-y: auto;
    box-shadow: -3px 0 0 #d6d6d6, 3px 0 0 #d6d6d6;
    border-top: 3px solid #d6d6d6;
    border-bottom: 3px solid #d6d6d6;
}
label.selectGeneral input[type="checkbox"]:checked ~ div > label, label.selectGeneral input[type="checkbox"]:checked + label{
    display: block;
}
label.selectGeneral input[type="checkbox"]:checked ~ div > label:hover{
    background-color: #ffa834;
}
label.selectGeneral input[type="checkbox"]:not(:checked) ~ div > input[type="radio"]:checked + label{
    position: relative;
    z-index: -1;
}
.kb_right .kbr_content{margin-bottom:10px;}
.kbr_content li{
	display: inline-block;
}
.kr_head .all, .kr_head, .kr_items .item .item_name, .kr_items .item .item_comments{
	font-family: Arial;
	font-size: 12px;
}
.kr_head .all, .kr_head .value {
	text-decoration: underline;
	color: #205ca2;
}
.kf_content_button_more{
	margin-top: 10px;
}
.kf_content_button_more button{
	text-align: left;
}
.kr_head .all button, .kr_head .value button , .kf_content_button_more button{
	text-decoration: underline;
    color: #205CA2;
    border: 0px none;
    background: transparent none repeat scroll 0% 0%;
	cursor: pointer;
}
}
.kr_head .sort {
	margin-left: 25px;
}
.kr_head .sort img{
	position: relative;
	top: 12px;
	left: 5px;
}
.kr_items {
	margin-top:20px;
	clear:both;
	overflow: hidden;
}
.kr_items .item{
	width:210px;
	height:350px;
	float: left;
	margin: 10px calc(( 100% - 860px) / 3 )  10px  0px;
	margin: 10px -webkit-calc(( 100% - 860px) / 3 )  10px  0px;
}
.kr_items .item:nth-child(4n+4){
	margin: 10px 0px;
}
.kr_items .item .item_img{
	text-align: center;
}
.kr_items .item .item_img img{
	max-width: 100%;
	max-height: 165px;
}
.kr_pagination .pagin_page.next{
		width: 165px !important;
	}
.kr_items .item .item_name span{
	display: block;
	color: #205ca2;
}
.kr_items .item .item_comments img{
	position: relative;
	top: 5px;
}
.kr_items .item .item_comments, .kr_items .item .item_rating, .kr_items .item .item_tags{
	margin-top: 10px;
}
.kr_items .item_tags .tag{
	line-height: 21px;
	padding: 5px;
	border: 1px solid #a59fa3;
	border-radius: 2px;
	font-family: Arial;
	font-size: 9px;
	color: #393939;
	opacity: 0.5;
}
.kr_items .item .item_buy{
	margin-top: 20px;
	font-family: ComicRelief_Regular;
	font-size: 28px;
}
.kr_items .item_buy .left{
	float:left;
	line-height: 28px;
}
.kr_items .item_buy .right{
	float:right;
}
.kr_items .buy_button{
	padding: 5px;
	background: #92be3f;
	border-radius: 7px;
	border: 0px;
	color: #fff;
	font-family: ComicRelief_Regular;
	font-size: 13px;
}
.kr_items .buy_button:hover{
	background: #96c443;
	background: -moz-linear-gradient(top,  #96c443 0%, #709234 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96c443), color-stop(100%,#709234));
	background: -webkit-linear-gradient(top,  #96c443 0%,#709234 100%);
	background: -o-linear-gradient(top,  #96c443 0%,#709234 100%);
	background: -ms-linear-gradient(top,  #96c443 0%,#709234 100%);
	background: linear-gradient(to bottom,  #96c443 0%,#709234 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c443', endColorstr='#709234',GradientType=0 );
}
.kr_items .buy_button:active{
	background: #5C7B2C none repeat scroll 0% 0%;
}
.kr_items .buy_button img{
	position: relative;
	top: 2px;
	margin-right: 5px;
}
.kbr_content .kr_pagination {
	width:100%;
}
.kr_pagination button{
	height: 30px;
	width: 30px;
	padding: 5px;
	border-radius: 7px;
	border: 0px;
	color: #000;
	font-family: Arial;
	font-size: 15px;
}
.kr_pagination{
	font-family: Arial;
	overflow: hidden;
	clear: both;
}
.kr_pagination .pagin_page_form, .kr_pagination .pagin_page_buttons {
	float:left;
	display:block;
	height: 33px;
}
.kr_pagination .pagin_page_nav {
	float:right;
	display:block;
	height: 33px;
}
.kr_pagination .pagin_page{
	background: #f5f5f5;
}
.kr_pagination .pagin_page.all{
	width: 35px;
}
.kr_pagination .pagin_page.next{
	background: #868686;
	width: 165px;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
}
.kr_pagination .pagin_page_form{
	margin: 0px calc(( 100% - 965px ) / 2 ) 0px calc(( 100% - 965px ) / 2 );
	margin: 0px -webkit-calc(( 100% - 965px ) / 2 ) 0px -webkit-calc(( 100% - 965px ) / 2 );
}
.kr_pagination .pagin_page_form input[type="submit"]{
	height: 30px;
	width: 35px;
	padding: 5px;
	border-radius: 7px;
	border: 0px;
	color: #fff;
	font-family: Arial;
	font-size: 15px;
	background: #92be3f;
	font-weight: bold;
	margin-left: 5px;
}
.kr_pagination .pagin_page_form input[type="text"]{
	width: 19px;
	padding: 5.5px;
	border-radius: 7px;
	border: 0px;
	color: #000;
	font-family: Arial;
	font-size: 15px;
	background: #f5f5f5;
	font-weight: bold;
}
.k_blog {
	margin: 20px 0px;
}
.kbl_title{
	margin: 20px 0px;
	width: 100%;
	font-family: ComicRelief_Regular;
	font-size: 20px;
}
.kbl_items{
	clear:both;
	overflow:hidden;
	margin-bottom: 20px;
}
.kbl_item{
	height: 100%;
	width: calc(( 100% - 20px ) /4 );
	width: -webkit-calc(( 100% - 20px ) /4 );
	float:left;
	margin-left: 5px;
}
.kbl_item .image{
	width:80px;
	display: inline-table;
	float: left;
}
.kbl_item .image img{
	border-radius: 5px;
	margin: 10px 0px 20px 0px;
	max-width:80px;
	max-height:70px;
}
.kbl_item .content {
	font-size: 13px;
	display: inline-table;
	float: left;
	margin-left: 10px;
	max-width: calc( 100% - 95px );
	max-width: -webkit-calc( 100% - 95px );
}
.kbl_item .content .category{
	color: #868686;
	border: 2px dotted #a5d094;
	padding: 2px 10px;
	border-radius: 10px;
	line-height: 28px; 
}
.kbl_item .content .name{
	color: #205ca2;
	display:block;
}
.kbl_item .content .description{
	display:block;
}
.kbl_item .content .date{
	color: #949494;
	display:block;
	margin-top: 10px;
}
.k_search{
	margin-top: 20px;
	position:relative;
}
.k_search input[type="text"]{
	color: rgb(128, 128, 128);
	background: rgb(245, 245, 245) none repeat scroll 0% 0%;
	border: 1px solid #e8e8e8;
	padding: 10px 25px 10px 10px;
	width: 85%;
	
}
.k_search input[type="submit"]{
	position:absolute;
	top: 13px;
	right: 2px;
	background: url("/work/209/images/search_ico.png");
	width:14px;
	height:14px;
	border: 0px;	
}
.kf_content_select{
	margin-top: 10px;
	font-family: Arial;
	font-size: 13px;
}
.kf_content_select li{
	display: block;
	color: rgb(128, 128, 128);
	background: rgb(245, 245, 245) none repeat scroll 0% 0%;
	border: 1px solid #e8e8e8;
	padding: 10px;
	width: 85%;
	position: relative;
}
.kf_content_select li img{
	position:relative;
	top: 2px;
	margin-right: 10px;
}
.kf_content_select .arrow{
	position: absolute;
	top: 0;
	right: -10px;
	float:right;
	padding: 17px;
	border-left: 1px solid #e8e8e8;
}
.kf_content_select #kfc_select_block{
	display: none;
	z-index: 15;
	position: relative;
}
#kfc_select_hidden_block{
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 10;
	position: fixed;
	display: none;
}
.kf_content_radio .kfc_radio{
	width: 100%;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	min-height:19px;
	margin-top: 10px;
}
.kf_content_radio .kfc_radio label:hover{
	color: #92be3f;
}
.checkator_source {
	position: relative;
	z-index: 2;
	display: block;
}
.checkator_holder {
	display: inline-block;
	position: relative;
}
.checkator_holder.radio{
	width:19px !important;
	height:19px !important;
	position: relative;
	top: 4px;
}
.checkator_element {
	border: 3px solid #6f6d70;
	background-color: #6f6d70;
	width:13px;
	height: 13px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.checkator_source:checked+.checkator_element:after { 
	background-color: #92be3f;
	display: block;
	content: '';
	width:13px;
	height: 13px;
	position: absolute;
}
.checkator_source:checked~.kf_content_radio .kfc_radio label{
	color: #92be3f;
}
.checkator_source:focus+.checkator_element {
	border: 3px solid #6f6d70;
}
.checkator_source:hover+.checkator_element { 
	background-color: #92be3f;

}
.checkator_element.radio {
	border-radius: 50% !important;
}
.checkator_element.radio:after {
	border-radius: 50% !important;
}
.checkator_element.checkbox {
	border: 3px solid #6f6d70;
}
.kf_content_tags, .kf_content_dist{
	margin-top: 10px;
}
.kf_content_tags .tag{
	line-height: 31px;
	padding: 5px;
	border: 1px solid #a59fa3;
	border-radius: 2px;
	font-family: Arial;
	font-size: 9px;
	color: #393939;
	margin: 0px 5px 0px 0px;
	opacity: 0.5;
}
.filter_tag_cb{
	display:none;
}
.kf_content_range{
	height: 40px;
}
.kf_content_range .range_title{
	width:100%;
	margin-top: 10px;
	clear:both;
	overflow: hidden;
}
.kf_content_range .range{
	margin: 42px 0px;
	font-family: Arial;
	font-size: 12px;
}
.value_span{
	width: 100%;
	text-align: center;
}
.kf_content_range .range .minus{
	float: left;
	position: relative;
	top: 3px;
}
.kf_content_range .range .plus{
	float: right;
	position: relative;
	top: 3px;
}
.layout { 
	padding: 50px;
	
}
.layout-slider { 
	margin-bottom: 60px;
	width: 50%;
	margin: 0px 10px !important;
	display: inline-block;
	width: calc( 100% - 52px );
	width: -webkit-calc( 100% - 52px );
}
.layout-slider-settings { 
	font-size: 12px; 
	padding-bottom: 10px; 
}
.layout-slider-settings pre { 
	font-family: Courier; 
}

.jslider .jslider-bg i, .jslider .jslider-pointer { 
  background: url(../images/jslider.round.png) no-repeat 0 0;
}

.jslider { 
	display: block; 
	width: 100%; 
	height: 1em; 
	position: relative; 
	top: 0.6em; 
	font-family: Arial;
	font-size: 12px;
}
.jslider table { 
	width: 100%; 
	border-collapse: collapse; 
	border: 0;
}
.jslider td, .jslider th { 
	padding: 0; 
	vertical-align: top; 
	text-align: left; 
	border: 0; 
}
.jslider table, .jslider table tr, .jslider table tr td { 
	width: 100%; 
	vertical-align: top;
}
.jslider .jslider-bg { 
	position: relative; 
}
.jslider .jslider-bg i { 
	height: 5px; 
	position: absolute; 
	font-size: 0; 
	top: 0; 
}
.jslider .jslider-bg .l { 
	width: 10%; 
	background-position: 0 0; 
	left: 0; 
}
.jslider .jslider-bg .f { 
	width: 80%; 
	left: 10%; 
	background-repeat: repeat-x; 
	background-position: 0 -20px; 
}
.jslider .jslider-bg .r { 
	width: 10%; 
	left: 90%; 
	background-position: right 0;
}
.jslider .jslider-bg .v { 
	position: absolute; 
	width: 60%; 
	left: 20%; 
	top: 0; 
	height: 5px; 
	background-repeat: repeat-x; 
	background-position: 0 -40px; 
}
.jslider .jslider-pointer { 
	width: 13px; 
	height: 15px; 
	background-position: 0 -60px; 
	position: absolute; 
	left: 20%; 
	top: -4px; 
	margin-left: -6px; 
	cursor: pointer; 
	cursor: hand; 
}
.jslider .jslider-pointer-hover { 
	background-position: -20px -60px; 
}
.jslider .jslider-pointer-to { 
	left: 80%; 
}
.jslider .jslider-label { 
	line-height: 12px; 
	color: black; 
	opacity: 1 !important; 
	white-space: nowrap; 
	padding: 0px 2px; 
	position: absolute; 
	top: -20px; 
	left: -26px; 
	font-family: Arial;
	font-size: 12px;
	color: #000;
	display: block !important;
}
.jslider .jslider-label-to { 
	left: auto; 
	right: -26px; 
}
.jslider .jslider-value { 
	font-size: 9px; 
	white-space: nowrap; 
	padding: 1px 2px 0; 
	position: absolute; 
	top: 15px; 
	left: 20%; 
	line-height: 12px; 
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px; 
	-o-border-radius: 2px; 
	border-radius: 2px; 
	font-family: Arial;
	font-size: 12px;
	color: #000;
}
.jslider .jslider-value-to { 
	left: 80%; 
}
.jslider .jslider-label small, .jslider .jslider-value small { 
	position: relative; 
	top: -0.4em; 
}
.jslider .jslider-scale { 
	position: relative; 
	top: 9px; 
}
.jslider .jslider-scale span { 
	position: absolute; 
	height: 5px; 
	border-left: 1px solid #999; 
	font-size: 0; 
}
.jslider .jslider-scale ins { 
	font-size: 9px; 
	text-decoration: none; 
	position: absolute; 
	left: 0px; 
	top: 5px; 
	color: #999; 
}
.jslider-single .jslider-pointer-to, .jslider-single .jslider-value-to, .jslider-single .jslider-bg .v, .jslider-limitless .jslider-label { 
	display: none; 
}
.jslider_round .jslider-bg i, .jslider_round .jslider-pointer { 
	background-image: url(../images/jslider.round.png) !important; 
}
.jslider_round .jslider-pointer { 
	width: 17px; 
	height: 17px; 
	top: -6px; 
	margin-left: -8px; 
}
.currency{
	position: relative;
	display: inline-block;
}
.edit_currency{
	display:none;
	position: absolute;
	width: 125px;
	height: 154px;
	background: transparent url(../images/edit_currency.png) no-repeat left top; 
	bottom: 10px;
	left: -18px;
	padding: 10px 20px;
	z-index:5;
}
.edit_currency span{
	font-family: Arial;
	font-size: 12px;
	color:#808080;
	display: block;
	z-index:7;
}
.edit_currency .active{
	border: 2px dotted #A5D094;
	padding: 2px 10px;
	border-radius: 10px;
	line-height: 16px;
	font-weight: bold;
	margin-left: -12px;
}
.edit_currency .title{
	line-height: 12px;
	margin: 10px 0px;
}
#scroller{
    position: fixed;    
    bottom: 30px; 
	right: 30px;
    background: #fff;  
    cursor: pointer;
    display:none;
	width: 70px;
	height: 30px;
	background: transparent url(../images/top_button.png) no-repeat left top; 
}
.k_open24_mobile2{
	display: none;
}
.logo_block{
	float: left;
}
.publ_block{
	width: 60%;
	float: left;
}
.open24_mob{
	display:none;
}
.kf_title h1{
	font-family: Verdana;
	font-size: 21px;
	font-weight: normal;
}
.kfr_content h2{
	margin: 25px 0px 0px 0px;
	font-family: Arial;
	font-size: 17px;
	font-weight: normal;
}
.kfr_content > .text{
	width: 700px;
	font-family: Arial;
	font-size: 14px;
	display: inline-block;
	float:left;
}
.kfr_content .text > span{
	margin: 25px 0px 0px 0px;
	display: block;
	width: 100%
}
.kfr_content  {
	line-height: 14pt;
}
.kfr_content .prava .item{
	background: #f3f3f3;
	padding: 10px 0px 5px 0px;
	margin-top: 15px;
}
.kfr_content .prava .item span{
	margin: 0px;
}
.kfr_content .prava .item .num{
	width: 100px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.kfr_content .prava .item .text{
	width: 590px;
	padding-right: 5px;
	text-align: left;
	display:  table-cell;
	font-size: 13px;
	vertical-align: middle;
}
.kfr_content .prava .item .num span{
	margin: auto;
	background: url(../images/prava_circle.png);
	width: 48px;
	height:36px;
	font-family: Arial;
	font-size: 30px;
	font-weight:bold;
	color: #fff;
	padding-top: 15px;
	display: block;
}
.kfr_content .prava .message{
	background: #92be3f;
	border-radius: 5px;
	padding: 15px;
	margin-top: 20px;
}
.kfr_content .prava .message span{
	font-family: Arial;
	font-size: 13px;
	font-weight:bold;
	color: #fff;
	margin: 0px 35px;
	width: 600px;
}
.kfr_content .red_span{
	color: #ac3440;
	font-family: Arial;
	font-size: 13px;
	font-weight:bold;
}
.kfr_content .cards {
	margin-top: 25px;
}
.kfr_content .cards .card {
	display: inline-block;
	margin-right: 10px;
	width: 220px;
}
.kfr_content .cards .card .title{
	margin-bottom: 10px;
	display: block;
}
.kfr_content .cards .card .title a{
	font-family: Arial;
	font-size: 17px;
	color: #205ca2;
}
.kfr_content .cards .card_img img{
	max-width: 220px;
}
.kfr_content .card_button{
	margin-top: 10px;
}
.kfr_content .card_button button{
	padding: 5px 10px 10px 10px;
	background: #92be3f;
	border-radius: 15px;
	border: 0px;
	color: #fff;
	font-family: ComicRelief_Regular;
	font-size: 15px;
	line-height: 25px;
}
.kfr_content .card_button button:hover{
	background: #96c443;
	background: -moz-linear-gradient(top,  #96c443 0%, #709234 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96c443), color-stop(100%,#709234));
	background: -webkit-linear-gradient(top,  #96c443 0%,#709234 100%);
	background: -o-linear-gradient(top,  #96c443 0%,#709234 100%);
	background: -ms-linear-gradient(top,  #96c443 0%,#709234 100%);
	background: linear-gradient(to bottom,  #96c443 0%,#709234 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c443', endColorstr='#709234',GradientType=0 );
}
.kfr_content .card_button button:active{
	background: #5C7B2C none repeat scroll 0% 0%;
}
.kfr_content .text .card_vunoska{
	font-family: Arial;
	font-size: 13px;
	line-height: 13px;
	margin-top: 15px;
}
.right_buttons{
	display: inline-block;
	float:left;
	margin-left: 40px;
}
.right_buttons .item {
	margin-bottom: 10px;
}
.right_buttons .item a{
	font-family: Arial;
	font-size: 14px;
}
.right_buttons .item img{
	vertical-align: middle;
	margin-right: 10px;
}
.k_cat .support{
	margin-top: 35px !important;
}
.faq .kb_left .facebook {
	margin-top: 50px;
}
.faq .kb_left .vkontakte {
	margin-top: 40px;
}
.facebook div{
	overflow: hidden;
}
.width1540, .width1320, .width991, .width660, .width390{
	display: none;
}
.myshop .kb_left{
	width: 20%;
}
.myshop .kb_right {
    width: 78%;
}
.myshop .kb_left .k_profile .kp_image{
	width: 85px;
	height: 85px;
	display: inline-block;
}
.myshop .kb_left .k_profile .kp_image img{
	margin-top: 5px;
}
.myshop .kb_left .kp_info{
	display: inline-block;
	height: 80px;
	width: calc(100% - 100px);
	width: -webkit-calc( 100% - 100px );
	vertical-align: bottom;
	padding-top: 5px;
	margin-left: 10px;
}
.myshop .kb_left .kp_info span{
	display: block;
	margin-top: 5px;
}
.myshop .kb_left .kp_info .name, .katalog .kb_left .kp_info .surname{
	font-family: Arial;
	font-size: 17px;
}
.myshop .kb_left .kp_info .with_us{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #92be3f;
	margin-top: 10px;
}
.myshop .kb_left .from {
    margin: 10px 0;
}
.myshop .kb_left .from img, .katalog .kb_left .from div{
	display: inline-block;
}
.myshop .kb_left .from div{
	width: calc(100% - 20px);
	width: -webkit-calc( 100% - 20px );
}
.myshop .kb_left .from span{
	display: block;
	font-family: Arial;
	font-size: 12px;
	line-height: 1.2;
}
.myshop .kb_left .kp_about .p_in, .katalog .kb_left .kp_about .p_out{
	display: inline-block;
	font-family: Arial;
	font-size: 13px;
	padding-left: 19px;
}
.myshop .kb_left .kp_about .p_in{
	background: transparent url("../images/p_in.png") no-repeat scroll;
}
.myshop .kb_left .kp_about .p_out{
	background: transparent url("../images/p_out.png") no-repeat scroll;
	margin-left: 10px;
}
.myshop .kb_left .feedback{
	margin-top: 20px;
	padding: 10px 0px;
	background: #f1f1f1;
	text-align: center;
	color: #205ca2;
	font-family: Arial;
	font-size: 12px;
}
.myshop .kb_left .feedback img, .myshop .kb_left .question_feedback img{
	margin-left: 20px;
	position: relative;
	top: 2px;
}
.myshop .kb_left .menu{
	margin-top: 10px;
	border: 2px dotted #A5D094;
	border-radius: 20px;
	padding: 0 20px 10px 20px;
}
.myshop .kb_left .menu li, .myshop .kb_left .additional_menu li{
	display: block;
	font-family: Arial;
	font-size: 13px;
	color: #205ca2;
	margin-top: 10px;
}
.myshop .kb_left .additional_menu li{
	margin-top: 10px;
}
.myshop .kb_left .additional_menu .rules{
	background: transparent url("../images/rules_myshop.png") no-repeat scroll 0% 0%;
    padding-left: 19px;
}
.myshop .kb_left .additional_menu .personal{
	background: transparent url("../images/personal_myshop.png") no-repeat scroll 0% 0%;
	padding-left: 19px;
}
.myshop .kb_left .additional_menu .updates{
	background: transparent url("../images/updates_myshop.png") no-repeat scroll 0% 0%;
    padding-left: 19px;
}
.myshop .kb_left .additional_menu .favorite{
	background: transparent url("../images/favorite_myshop.png") no-repeat scroll 0% 0%;
	padding-left: 19px;
}
.myshop .kb_left .additional_menu .moderator{
	background: transparent url("../images/moderator_myshop.png") no-repeat scroll 0% 0%;
    padding-left: 19px;
}
.myshop .kb_left .question_feedback{
	margin-top: 20px;
	padding: 10px 0px;
	background: #92be3f;
	text-align: center;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
	border-radius: 5px;
}
.myshop .kb_left .question_feedback a{
	color: #fff;
}
.myshop .kb_left .individ{
	position: relative;
	margin-top: 20px;
	font-family: Arial;
	font-size: 14px;
	height: calc(100vw * 0.125);
	height: -webkit-calc(100vw * 0.125);
}
.myshop .kb_left .individ img{
	position: absolute;
	left: -25px;
	z-index: 10;
	width: calc(100% + 45px);
	width: -webkit-calc(100% + 45px);
}
.myshop .kb_left .individ span{
	position: absolute;
	z-index: 15;
	padding: 20px;
}
.myshop .kb_left .stats  li{
	display: block;
	font-family: Arial;
	font-size: 14px;
	color: #92be3f;
	margin-top: 10px;
}
.myshop .kb_left .stats .sells{
	background: transparent url("../images/rules_myshop.png") no-repeat scroll 0% 0%;
    padding-left: 19px;
}
.myshop .kb_left .stats .likers{
	background: transparent url("../images/p_in.png") no-repeat scroll 0% 0%;
    padding-left: 19px;
}
.myshop .kb_right .ms_left{
	width: 73%;
	float:left;
	margin-top: 20px;
}
.myshop .kb_right .ms_right{
	width: 25%;
	float:left;
	margin-left: 2%;
	margin-top: 20px;
	text-align: center;
	padding-top: 10px;
}
.myshop .kb_right .ms_right span, .myshop .kb_right .ms_left .msl_search span{
	font-family: Arial;
	font-size: 17px;
}
.myshop .kb_right .ms_right .socbuttons{
	margin-top: 20px;
}
.myshop .kb_right .ms_right .socbuttons img{
	margin-top: 10px;
}
.myshop .kb_right .ms_left .msl_search span{
	display: inline-table;
}
.myshop .kb_right .ms_left .msl_search form{
	width: calc(100% - 230px);
	width: -webkit-calc(100% - 230px);
	display: inline-table;
	margin-left: 30px;
}
.myshop .kb_right .ms_left .msl_search input[type="text"]{
	width: calc(70% - 40px);
	width: -webkit-calc(70% - 40px);
	background: #f5f5f5;
	border: 0px;
	border-radius: 20px 0 0 20px;
	padding: 10px 20px;
}
.myshop .kb_right .ms_left .msl_search input[type="submit"]{
	width: calc(30% - 5px);
	width: -webkit-calc(30% - 5px);
	background: #92be3f;
	border: 0px;
	border-radius: 0 20px 20px 0;
	padding: 8px 20px;
	color: #fff;
	position: relative;
    left: -5px;
	font-family: ComicRelief_Regular;
	font-size: 14px;
}
.myshop .kb_right .ms_left .msl_about{
	margin-top: 20px;	
}
.myshop .kb_right .ms_left .msl_about span{
	margin-top: 20px;
	display:block;
	font-family: Arial;
	font-size: 13px;
}
.myshop .kb_right .ms_left .msl_banner{
	margin-top: 20px;
	background: #e0e0e0;
	padding: 20px 0;
	text-align: center;
	font-family: Arial;
	font-size: 17px;
}
.ms_left .kr_head li{
	display: inline-block;
 }
 .ms_left .kr_head .sort_buttons{
	float: right;
	margin-top: 10px;
 }
.myshop .kr_items li{
	 display: inline-block;
 }
.myshop .kr_items .item{
	margin: 10px calc((100% - 630px) / 2) 10px 0px;
	margin: 10px -webkit-calc((100% - 630px) / 2) 10px 0px;
 }
 .myshop .kr_items .item:nth-child(3n+3) {
    margin: 10px 0px;
}